@import "tailwindcss";

/* enable dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));


@keyframes shrink {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

/* utilities to integrate skeleton loading animation */
/* for both light and dark mode into tailwind css */
@layer utilities {
    .skeleton {
        animation: skeleton-loading 1.5s infinite;
        background: linear-gradient(90deg, #cacaca, #e0e0e0, #cacaca);
        background-size: 400% 100%;
    }
    .route-dark .skeleton {
        background: linear-gradient(90deg, #363636, #1a1a1a, #363636);
        background-size: 400% 100%;
    }

}

/* Skeleton Loading Animation */
@keyframes skeleton-loading {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}